/* Life Dashboard Section */

.life-features {
    width: 84%;
    min-height: 180px;

    margin-top: 800px;
    padding: 18px 35px;

    background-color: white;

    border-radius: 28px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    gap: 28px;

    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.08);

    position: relative;
}


/* Cards */

.feature {
    width: 125px;
    height: 145px;

    border-radius: 18px;

    padding: 14px 8px;

    text-align: center;

    flex-shrink: 0;

    transition: 0.3s;
}

.feature:hover {
    transform: translateY(-5px);
}


/* Card Colors */

.gym {
    background-color: #e8f6ed;
}

.sleep {
    background-color: #f0ebfa;
}

.food {
    background-color: #fff0df;
}

.expenses {
    background-color: #e5f3fa;
}

.study {
    background-color: #fde8f0;
}

.goals {
    background-color: #fff4d9;
}

.reports {
    background-color: #f0e8f7;
}


/* Icons */

.icon {
    font-size: 42px;

    height: 55px;

    display: flex;
    align-items: center;
    justify-content: center;

    margin-bottom: 5px;
}


/* Titles */

.feature h3 {
    margin: 4px 0 7px;

    font-size: 18px;

    color: #222;
}


/* Description */

.feature p {
    margin: 0;

    font-size: 11px;

    line-height: 1.5;

    color: #555;
}


/* Arrow */

.arrow {
    position: absolute;

    right: -22px;

    top: 50%;

    transform: translateY(-50%);

    width: 52px;
    height: 52px;

    border-radius: 50%;

    border: 1px solid #ddd;

    background-color: white;

    font-size: 35px;

    color: #333;

    cursor: pointer;
}

.arrow:hover {
    background-color: #4b45c6;
    color: white;
}


/* Mobile */

@media (max-width: 900px) {

    .life-features {
        width: 90%;

        overflow-x: auto;

        justify-content: flex-start;

        padding: 18px;
    }

    .feature {
        flex-shrink: 0;
    }
}